.contact {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
    padding: 8px;
    border: solid 2px rgb(218, 218, 218);
  }
  
.subcontent_img {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.avatar {
  max-width:50px;
  border-radius:150px;
}

.subcontent {
  flex: 1;
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
  
.contact a {
    color: darkgrey;
}

.btnAction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.saveLink {
  background-color: transparent;
  border-width: 0px;
  color: darkgrey;
  text-decoration: underline;
  cursor: pointer;
  font: 107.5%/0.45em georgia, serif, sans-serif;
  font-family: georgia, serif;
  font-weight: normal;
}

.saveLink:focus {
  outline-width: 0px;
}

@media only screen and (max-width: 868px) {
  /* For mobile phones: */
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
  .subcontent_img {
    align-self: center;
  }

}